<h3>Welcome To Anjali_Classes</h3>
	<p>
    <br>
	Hi ! Buckle up to begin your courses</p> <br><br>
  <a class="button" href="/users/register">Sign up now</a>
  <br>
  <p>First sign up to register for the course</p>